.env.db
.env.dev
.env.dev.*
node_modules/
client/
resource/logs/
resource/ssl/
.scannerwork/
artifact/
script/
package-lock.json
sonar-project.properties
docker-compose.yml
db/postgresql
db/redis
.idea
.git/

